#Wide_Category {
    position: absolute;
    width: 660px;
    height: 377px;
    overflow: visible;
}


#Image {
    position: absolute;
    width: 660px;
    height: 377px;
    
    overflow: visible;
}
#Category_Title {
    position: absolute;
    left: 51px;
    top: 165px;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
    z-index: 2;
}
.button_shape {

    position: absolute;
    width: 175.818px;
    height: 63.346px;
    left: 445px;
    top: 280.732px;
    background-color: #78BDC4;
    border-radius: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    z-index: 2;
    
    color: rgba(247,248,243,1);
}

.button_shape:active {
    background-color: #609CA2;
}

.Wide_Category_modal {
    width: 660px;
    height: 377px;
    background-color: black;
    position: absolute;
    z-index: 1; 
    opacity: 30%;
}